<header class="bg-dark p-3 mb-4 text-light">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href="index.html">
         <img src="images/logo.webp" alt="Logo L'Azienda Brutta" style="height: 50px; background-color: white;">
      </a>
    </div>
    <nav>
      <ul class="nav">
         <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
         <li class="nav-item"><a class="nav-link" href="chi-siamo.html">Chi Siamo</a></li>
         <li class="nav-item"><a class="nav-link" href="servizi.html">Servizi</a></li>
         <li class="nav-item"><a class="nav-link" href="strategie.html">Strategie & Documenti</a></li>
         <li class="nav-item"><a class="nav-link" href="testimonianze.html">Testimonianze</a></li>
         <li class="nav-item"><a class="nav-link" href="lavora.html">Lavora con Noi</a></li>
         <li class="nav-item"><a class="nav-link" href="contatti.html">Contatti</a></li>
      </ul>
    </nav>
  </div>
</header> 